@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin-left: 100px;
}
.copy{
    max-width: 1170px;
	margin: 60px 0 0 100px;
    color:#e91e63;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #022757;
    padding: 70px 0;
}
.footer-col{
    width: 25%; 
    padding: 0;
    display: flex;
    flex-direction: column; 
}
.footer-col h4{
	font-size: 18px;
	color: #a1bda3;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 87px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #4098bb;
	text-decoration: none;
	font-weight: 300;
	color: #b8b3b3;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
    width: 80%;
    border-radius: 7px;
    background-color: #e91e63;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.social-links > a{
	height: 40px;
	width: 40px;
	background-color:whitesmoke;
	margin-right:10 px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: hsl(287, 82%, 4%);
	transition: all 0.5s ease;
    
}
.footer-col .social-links a:hover{
	color: #e91e63;
	background-color: #3a3939;
   
}
.footer-col .social-links {
    display: flex;
    gap: 15px; 
}